@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
}

:root{
    --cor0: #001500;
    --cor1: #2C6040;
    --cor2: #4B6053;
    --cor3: #779684;
    --cor4: #012401e1;
    --dark: #161616;
    --light: #ececec;
    --escrita: #2C6040;
    --fonte-titulo: 'Bebas Neue', sans-serif;
}

footer{
    margin-top: 10px;
    background-color: #4b6053f1;
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}

.coluna1{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.coluna1 img{
    text-align: center;
    width: 200px;
}

.coluna1 a{
    width: 170px;
    color: var(--cor4);
    font-family: 'Fira Sans', sans-serif;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border: solid 2px var(--cor4);
    padding: 5px;
    margin: 0 0 0 180px;
}

footer hr{
    padding: 0%;
    margin-top: 50px;
    height: 200px;
    border-color: var(--cor4);
    border-style: solid;
}

.corestilo2{
    color: #E9BA3D;
}

.juntos p{
    font-family: var(--fonte-titulo);
    color: #442d26;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 20px;
}

.juntos{
    display: flex;
    align-items: center;
}

/*COLUNA 2 */

.coluna2{
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.coluna2 a{
    font-size: 15px;
    font-family: 'Fira Sans', sans-serif;
    text-decoration: none;
    color: #ffffffee;
}

#link-localizacao{
    padding-top: 19px;
}

.line1{
    padding: 0 8px 0 100px;
}

.separar{
    padding-top: 50px;
}

/*COLUNA 3 */

.coluna3{
    margin-top: 50px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.coluna3 ion-icon{
    font-size: 23px;
    padding: 1px;
    color: #ffffffee;
}

.line2{
    padding: 0 8px 0 200px;
}

.coluna3 .separar2{
    padding-top: 20px;
}

#logo-instagram2{
    padding-top: 50px;
}